Repository nice-af/chronos-website: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "locales/*.json": "jsonsort",
  "*.scss": "stylelint --fix",
  "*.{js,ts,vue,scss,json,yml}": "prettier --write",
  "*.{ts,vue}": "eslint --fix"
}

feat: add oauth route for the app
  .gitsecret/keys/crls.d/DIR.txt
  .gitsecret/paths/mapping.cfg
  .vscode/settings.json
  nuxt.config.ts
  server/api/jira-oauth.post.ts
Due: prettier --write, eslint --fix

feat: add a privacy policy for the app
  app/pages/privacyApp.vue
  app/pages/privacyWebsite.vue
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: replace basic auth module
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/paths/mapping.cfg
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: prevent indexing of page for now
  public/robots.txt
Due: none

feat: add 404 page
  app/app.vue
  app/assets/styles/global.scss
  app/error.scss
  app/error.vue
  locales/de.json
  locales/en.json
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat: add newsletter success page
  .lintstagedrc.json
  app/pages/newsletterSuccess.scss
  app/pages/newsletterSuccess.vue
  locales/de.json
  locales/en.json
  package.json
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

chore: remove password protection
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add vercel analytics
  app/app.vue
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: replace ph icon package with @nuxt/icons for SSR compatibility
  app/components/CtaSection/CtaSection.vue
  app/components/HeroShineTop/HeroShineTop.vue
  app/pages/newsletterSuccess.vue
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(HeroShineTop): always trigger the animation after 1 second
  app/components/HeroShineTop/HeroShineTop.vue
Due: prettier --write, eslint --fix

feat(HeroCompanion): add initial section
  app/components/Header/Header.vue
  app/components/HeroCompanion/HeroCompanion.scss
  app/components/HeroCompanion/HeroCompanion.vue
  app/components/HeroShineTop/HeroShineTop.scss
  app/pages/companion.vue
  locales/de.json
  locales/en.json
  public/assets/images/companion-logo.svg
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat: add status api route
  server/api/status.get.ts
Due: prettier --write, eslint --fix

feat(CompanionInfo): add initial section
  app/components/CompanionInfo/CompanionInfo.scss
  app/components/CompanionInfo/CompanionInfo.vue
  app/components/HeroShineTop/HeroShineTop.vue
  app/pages/companion.vue
  locales/de.json
  locales/en.json
  nuxt.config.ts
  public/assets/images/browsers/brave.png
  public/assets/images/browsers/brave@2x.png
  public/assets/images/browsers/brave@3x.png
  public/assets/images/browsers/chrome.png
  public/assets/images/browsers/chrome@2x.png
  public/assets/images/browsers/chrome@3x.png
  public/assets/images/browsers/edge.png
  public/assets/images/browsers/edge@2x.png
  public/assets/images/browsers/edge@3x.png
  public/assets/images/browsers/firefox.png
  public/assets/images/browsers/firefox@2x.png
  public/assets/images/browsers/firefox@3x.png
  public/assets/images/browsers/opera.png
  public/assets/images/browsers/opera@2x.png
  public/assets/images/browsers/opera@3x.png
  public/assets/images/browsers/safari.png
  public/assets/images/browsers/safari@2x.png
  public/assets/images/browsers/safari@3x.png
  public/assets/images/companion-screenshot.png
  public/assets/images/companion-screenshot@2x.png
  public/assets/images/hero-icon@3x.png
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat(CompanionInfo): mobile adjustments
  app/components/CompanionInfo/CompanionInfo.scss
  app/components/CompanionInfo/CompanionInfo.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat(HeroCompanion): mobile adjustments
  app/components/HeroCompanion/HeroCompanion.scss
  app/components/HeroCompanion/HeroCompanion.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat(CompanionInfo): add popup with safari preinstalled info
  app/components/CompanionInfo/CompanionInfo.scss
  app/components/CompanionInfo/CompanionInfo.vue
  locales/de.json
  locales/en.json
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat(faq): add json ld schema
  app/pages/faq.vue
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add sitemap
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add favicon
  nuxt.config.ts
  public/assets/favicons/apple-touch-icon.png
  public/assets/favicons/favicon-96x96.png
  public/assets/favicons/favicon.ico
  public/assets/favicons/site.webmanifest
  public/assets/favicons/web-app-manifest-192x192.png
  public/assets/favicons/web-app-manifest-512x512.png
Due: prettier --write, eslint --fix

feat: add breadcrumbs json ld
  app/pages/companion.vue
  app/pages/faq.vue
  app/pages/legalNotice.vue
  app/pages/newsletterSuccess.vue
  app/pages/privacyApp.vue
  app/pages/privacyWebsite.vue
  locales/de.json
  locales/en.json
Due: jsonsort, prettier --write, eslint --fix

feat: add open graph data
  app/app.vue
  locales/de.json
  locales/en.json
  nuxt.config.ts
  public/assets/images/og-image.jpg
Due: jsonsort, prettier --write, eslint --fix

feat: add page transition
  app/assets/styles/global.scss
  app/components/Header/Header.vue
  nuxt.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: adjust faq spacing
  app/components/Faq/Faq.scss
Due: stylelint --fix, prettier --write

feat: adjust privacy policies
  app/pages/privacyApp.vue
  app/pages/privacyWebsite.vue
Due: prettier --write, eslint --fix

feat: add fade in animations
  app/components/Faq/Faq.scss
  app/components/Faq/Faq.vue
  app/components/HeroCompanion/HeroCompanion.scss
  app/components/ManualSubmitGraphic/ManualSubmitGraphic.scss
  app/components/StartStopGraphic/StartStopGraphic.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat: adjust hero shine animation
  app/components/HeroShineTop/HeroShineTop.scss
  app/pages/index.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: add more json ld schemas
  app/app.vue
  app/pages/index.vue
Due: prettier --write, eslint --fix

fix: button links not working
  app/components/Button/Button.vue
Due: prettier --write, eslint --fix

feat: adjust favicon
  nuxt.config.ts
  public/assets/favicons/favicon-96x96.png
  public/assets/favicons/favicon.ico
  public/assets/favicons/favicon.svg
  public/favicon.ico
Due: prettier --write, eslint --fix

chore: adjust support url
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: use runtime config in oauth api route
  server/api/jira-oauth.post.ts
Due: prettier --write, eslint --fix

feat: use static rendering
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix: prevent 500 error on oauth api route when no body is given
  server/api/jira-oauth.post.ts
Due: prettier --write, eslint --fix

chore: add debug statement
  server/api/jira-oauth.post.ts
Due: prettier --write, eslint --fix

chore: adjust support email
  .env.secret
  .gitsecret/paths/mapping.cfg
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: move to isr because prerendering does not work with nuxt i18n
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix(HeroShineTop): headline cut off slightly
  app/assets/styles/global.scss
  app/components/HeroShineTop/HeroShineTop.scss
  app/components/HeroShineTop/HeroShineTop.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat(HeroShineTop): reenable faster animation starts
  app/components/HeroShineTop/HeroShineTop.vue
Due: prettier --write, eslint --fix

feat: add vercel speed insights
  app/app.vue
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add lang seo html attributes
  app/app.vue
Due: prettier --write, eslint --fix
