Repository nice-af/chronos-website: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, stylelint --fix --allow-empty-input, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "locales/*.json": "jsonsort",
  "*.scss": "stylelint --fix --allow-empty-input",
  "*.{js,ts,vue,scss,json,yml}": "prettier --write",
  "*.{ts,vue}": "eslint --fix"
}

chore: remove presentation role from incompatible elements
  app/components/Configurator/Configurator.vue
  app/components/Features/Features.vue
  app/components/HeroShineTop/HeroShineTop.vue
Due: prettier --write, eslint --fix

feat: add firefox extension url
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: add base url to i18n config
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix(Button): hover not working correctly
  app/assets/styles/global.scss
  app/components/Button/Button.scss
  nuxt.config.ts
Due: stylelint --fix --allow-empty-input, prettier --write, eslint --fix

chore: adjust vscode config
  .vscode/settings.json
Due: prettier --write

feat: add edge extension url
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: add app download link
  nuxt.config.ts
  public/robots.txt
Due: prettier --write, eslint --fix

feat: add cmopressed shine images
  app/components/HeroShineTop/HeroShineTop.scss
  app/components/HeroShineTop/HeroShineTop.vue
  public/assets/images/shine-1.avif
  public/assets/images/shine-1.webp
  public/assets/images/shine-2.avif
  public/assets/images/shine-2.webp
  public/assets/images/shine-3.avif
  public/assets/images/shine-3.webp
  public/assets/images/shine-4.avif
  public/assets/images/shine-4.webp
Due: stylelint --fix --allow-empty-input, prettier --write, eslint --fix

feat: adjust headline size
  app/assets/styles/mixins/_typography.scss
  nuxt.config.ts
Due: stylelint --fix --allow-empty-input, prettier --write, eslint --fix

feat: remove debug logs
  server/api/jira-oauth.post.ts
Due: prettier --write, eslint --fix

fix: typo in translations
  locales/de.json
Due: jsonsort, prettier --write

fix(footer): legal links not centered
  app/components/Footer/Footer.scss
Due: stylelint --fix --allow-empty-input, prettier --write

ci: redeploy
  app/components/HeroShineTop/HeroShineTop.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Revert "ci: redeploy"
  app/components/HeroShineTop/HeroShineTop.scss
Due: stylelint --fix --allow-empty-input, prettier --write

feat: add liquid glass app icon to hero
  public/assets/images/hero-icon.png
  public/assets/images/hero-icon@2x.png
  public/assets/images/hero-icon@3x.png
Due: none

feat: adjust feature carousel content
  app/components/FeatureCarousel/FeatureCarousel.vue
Due: prettier --write, eslint --fix

feat(faq): add info about self hosted jira support
  app/pages/faq.vue
  locales/de.json
  locales/en.json
Due: jsonsort, prettier --write, eslint --fix
