Repository nice-af/chronos-website: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, stylelint --fix, prettier --write, eslint --fix

💬 content(i18n): resolve warnings
  components/Footer/Footer.vue
  components/Header/Header.vue
  i18n.config.ts
Due: prettier --write, eslint --fix

feat(cards-selection): add translations
  components/CardsSelection/CardsSelection.vue
  locales/en.json
Due: jsonsort, prettier --write, eslint --fix

feat(app-overview-graphic): add mobile layout
  assets/styles/global.scss
  components/AppOverviewGraphic/AppOverviewGraphic.scss
  components/FeatureTile/FeatureTile.scss
  components/FeatureTile/FeatureTile.vue
  components/Features/Features.vue
  components/HeroShineTop/HeroShineTop.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore: cleanup ref usage
  components/Configurator/Configurator.vue
  components/CtaSection/CtaSection.vue
  components/Faq/Faq.vue
  components/FaqEntry/FaqEntry.vue
  components/Features/Features.vue
  components/HeroShineTop/HeroShineTop.vue
  composables/useTextLines.ts
Due: prettier --write, eslint --fix

feat(footer): adjust made by text
  components/Footer/Footer.vue
Due: prettier --write, eslint --fix

feat: add mobile styling
  assets/styles/global.scss
  assets/styles/mixins/_typography.scss
  components/AppOverviewGraphic/AppOverviewGraphic.scss
  components/Button/Button.scss
  components/CardsSelection/CardsSelection.scss
  components/Configurator/Configurator.scss
  components/Configurator/Configurator.vue
  components/CtaSection/CtaSection.scss
  components/CtaSection/CtaSection.vue
  components/FeatureTile/FeatureTile.scss
  components/FeatureTile/FeatureTile.vue
  components/Features/Features.scss
  components/Features/Features.vue
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
  components/StartStopGraphic/StartStopGraphic.vue
  locales/en.json
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat: add section elements
  components/Configurator/Configurator.vue
  components/CtaSection/CtaSection.vue
  components/Faq/Faq.vue
  components/Features/Features.vue
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
Due: stylelint --fix, prettier --write, eslint --fix

chore: add sidebar color to vscode
  .vscode/settings.json
Due: prettier --write

feat(feature-carousel): add basic section
  assets/styles/global.scss
  assets/styles/mixins/_typography.scss
  components/FeatureCarousel/FeatureCarousel.scss
  components/FeatureCarousel/FeatureCarousel.vue
  locales/en.json
  pages/index.vue
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat(feature-carousel): add popups
  assets/styles/global.scss
  components/FeatureCarousel/FeatureCarousel.scss
  components/FeatureCarousel/FeatureCarousel.vue
  package-lock.json
  package.json
Due: stylelint --fix, prettier --write, eslint --fix

chore: code cleanup
  components/FeatureCarousel/FeatureCarousel.vue
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
Due: stylelint --fix, prettier --write, eslint --fix

fix(feature-carousel): popup position not recalculated when reactivated
  components/FeatureCarousel/FeatureCarousel.scss
  components/FeatureCarousel/FeatureCarousel.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat(language-switch): add component
  components/LanguageSwitch/LanguageSwitch.scss
  components/LanguageSwitch/LanguageSwitch.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat(footer): add newsletter signup
  assets/styles/global.scss
  components/Footer/Footer.scss
  components/Footer/Footer.vue
  components/LanguageSwitch/LanguageSwitch.scss
  components/NewsletterForm/NewsletterForm.scss
  components/NewsletterForm/NewsletterForm.vue
  locales/en.json
  public/assets/images/flag-de.svg
  public/assets/images/flag-en.svg
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

fix(feature-carousel): popups els sometimes linked twice
  components/FeatureCarousel/FeatureCarousel.vue
Due: prettier --write, eslint --fix

feat: add git secret env
  .env.secret
  .gitignore
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
Due: none

feat: add widget to feature carousel
  components/FeatureCarousel/FeatureCarousel.vue
  locales/en.json
Due: jsonsort, prettier --write, eslint --fix

feat: add brevo integration
  components/NewsletterForm/NewsletterForm.scss
  components/NewsletterForm/NewsletterForm.vue
  locales/en.json
  nuxt.config.ts
  package-lock.json
  package.json
  server/api/brevo-signup.post.ts
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat(footer): adjust mobile layout
  components/Footer/Footer.scss
  components/Footer/Footer.vue
  components/NewsletterForm/NewsletterForm.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat: add brevo templates
  emails/double-opt-in.html
  emails/subscribe-confirmation.html
  emails/unsubscribe-confirmation.html
Due: none

feat(faq): mobile adjustments
  components/Faq/Faq.scss
  components/Faq/Faq.vue
  components/FaqEntry/FaqEntry.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat: add basic mobile nav
  components/Footer/Footer.scss
  components/Header/Header.scss
  components/Header/Header.vue
  components/HeroShineTop/HeroShineTop.scss
  emails/success-confirmation.html
  locales/en.json
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat: adjust mobile menu styling
  components/Header/Header.scss
  components/Header/Header.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: make header sticky
  assets/styles/global.scss
  components/Header/Header.scss
  components/Header/Header.vue
  components/HeroShineTop/HeroShineTop.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(FeatureCarousel): popover not closing on mouse leave
  components/FeatureCarousel/FeatureCarousel.vue
Due: prettier --write, eslint --fix

feat: add liquid glass like hover to buttons
  assets/styles/global.scss
  components/Button/Button.scss
Due: stylelint --fix, prettier --write

feat(hero-shine-top): add fade in animation
  assets/styles/global.scss
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: add parallax scrolling effect
  components/Configurator/Configurator.vue
  components/Features/Features.vue
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
  composables/useParallaxScrolling.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(HeroShineTop): adjust fade in timing
  components/HeroShineTop/HeroShineTop.scss
  components/HeroShineTop/HeroShineTop.vue
Due: stylelint --fix, prettier --write, eslint --fix

chore: adjust stylelint config
  .stylelintrc.json
  app/assets/styles/global.scss
  app/assets/styles/mixins/_typography.scss
  app/components/AppOverviewGraphic/AppOverviewGraphic.scss
  app/components/Button/Button.scss
  app/components/Configurator/Configurator.scss
  app/components/CtaSection/CtaSection.scss
  app/components/Faq/Faq.scss
  app/components/FaqEntry/FaqEntry.scss
  app/components/FeatureCarousel/FeatureCarousel.scss
  app/components/FeatureTile/FeatureTile.scss
  app/components/Features/Features.scss
  app/components/Footer/Footer.scss
  app/components/Header/Header.scss
  app/components/NewsletterForm/NewsletterForm.scss
  nuxt.config.ts
  package-lock.json
  package.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(HeroShineTop): start animation after section has been loaded
  .env.secret
  .gitsecret/paths/mapping.cfg
  app/components/HeroShineTop/HeroShineTop.scss
  app/components/HeroShineTop/HeroShineTop.vue
  nuxt.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix: overflow issues on safari
  app/components/Configurator/Configurator.scss
  app/components/Configurator/Configurator.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: adjust content
  app/pages/faq.vue
  locales/en.json
Due: jsonsort, prettier --write, eslint --fix

feat: add german translation
  app/components/HeroShineTop/HeroShineTop.scss
  locales/de.json
  locales/en.json
Due: jsonsort, stylelint --fix, prettier --write

chore: upgrade packages
  package-lock.json
  package.json
Due: prettier --write

feat: add basic legal page
  app/assets/styles/legal-page.scss
  app/pages/legalNotice.vue
  app/pages/privacy.vue
  nuxt.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: add routes for two separate privacy pages
  app/assets/styles/global.scss
  app/components/Footer/Footer.scss
  app/components/Footer/Footer.vue
  app/pages/legalNotice.vue
  app/pages/privacyApp.vue
  app/pages/privacyWebsite.vue
  locales/de.json
  locales/en.json
  nuxt.config.ts
Due: jsonsort, stylelint --fix, prettier --write, eslint --fix

feat: add english privacy policy
  app/assets/styles/legal-page.scss
  app/pages/privacyWebsite.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: add german translation of the websites privacy policy
  app/pages/privacyWebsite.vue
Due: prettier --write, eslint --fix

Path conditions:
  jsonsort: any of: locales/*.json
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{js,ts,vue,scss,json,yml}
  eslint --fix: any of: *.{ts,vue}
